@model LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}


<div class="container well">
    <h3>Manage account</h3>

    <p class="message-success">@ViewBag.StatusMessage</p>

    @Html.Partial("_ChangePasswordPartial")
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
